
*{
    margin: 10px;
    padding: 10px;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #d888d6;
}
.cabeçalho {
    background: linear-gradient(#e292c3),#d888d6;
    color: rgb(62, 11, 81);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabeçalho-titulo{
    display: inline-block;
    margin: 0 16px;
    font-size: 16px;
    
}

.imagem{
    border-image: 5%;
    width: 65%;
    
}

.imagem-2{
    width: 40%;

}

.imagem-3{
    width: 40%;
}

.imagens-drones{
 justify-content: flex-end;
}
.footer{
    background-color:black;
    color: white;
}

.informações-texto{
    text-align: justify;
}